*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --colour--main: #333533;
  --colour--dark: #202020;

  --colour--primary--accent: #ffd100;
  --colour--secondary__accent: #ffee32;

  --colour--light: #d6d6d6;
}

html {
  font-size: 62.5%;
}

html,
body,
#root,
.App {
  height: 100%;
}

body,
button {
  box-sizing: border-box;
  font-size: 1.6rem;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: scroll;

  background-color: var(--colour--main);

  /* height: 100vh; */
  gap: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 15%;
  flex: 0 1 auto;
}

.header__buttons__container {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: fit-content;
  position: relative;
}

.header__button {
  border: none;
  border-radius: 0.8rem;
  text-decoration: none;
  padding: 1rem 1rem;
  width: 12rem;
  height: 4rem;
  font-size: 1.4rem;
  color: var(--colour--dark);
  background-color: var(--colour--light);
}

.header__button.active {
  background-color: var(--colour--primary--accent);
  border: 2px solid var(--colour--dark);
}

.header__button:is(:hover) {
  box-shadow: 5px 5px 0px rgb(0, 0, 0, 1);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.between__buttons__or {
  position: absolute;
  border: 1px solid black;
  border-radius: 0.8rem;
  padding: 0.5rem;
  background-color: var(--colour--dark);

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  text-align: center;
}

.resume__container {
  border: 1px solid red;
  padding: 1rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;

  overflow: scroll;
}

.resume {
  height: 1123px;
  width: 794px;
  padding: 2rem;
  overflow: scroll;

  background-color: white;
  color: var(--colour--dark);
  box-shadow: 10px 10px 0px rgb(0, 0, 0, 1);
}

.resume__button {
  border: 1px solid var(--colour--dark);
  text-decoration: none;
  color: var(--colour--dark);
  background-color: var(--colour--primary--accent);
  border-radius: 0.8rem;
  padding: 0.5rem;
}

.resume__button:hover {
  cursor: pointer;
  box-shadow: 3px 3px 0px rgb(0, 0, 0, 1);
  transition: box-shadow 0.3s ease-in-out;
}

.upper__resume {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--colour--dark);
  padding-bottom: 1rem;
}

.contact__info__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.contact__info__container > .editing:hover,
.personal__info__container > .editing:hover {
  cursor: pointer;
}

.personal__info__container > form,
.contact__info__container > form {
  display: flex;
  gap: 1rem;
}

.resume__input {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* border-bottom: 1px solid var(--colour--dark); */
}

.resume__name {
  font-size: 2rem;
  font-weight: bold;
}

.education__info__container,
.experience__info__container {
  padding: 1rem 0rem;
  border-bottom: 2px solid var(--colour--dark);
}

.education__info__form,
.work__info__form {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.education__info__form > textarea,
.work__info__form > textarea {
  grid-column: 1 / 3;
}

.education__entry,
.work__entry {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.education__entry:not(:last-child),
.work__entry:not(:last-child) {
  border-bottom: 1px solid var(--colour--dark);
}

.education__wrapper,
.work__wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 5rem;
}

.education__name,
.work__name {
  font-weight: bold;
  font-size: 1.6rem;
}

.education__degree,
.work__role {
  font-style: italic;
}
